
/*Colores principales: Verde Oscuro, Marron, Violeta*/
/*Todavia estos estilos no estan definidos,
tampoco utilice Id ya que no resolvi algo que sea "unico"*/
/*Titulos: Color Negro*/
/* Articulos : Bordes redondeados, fondo verde claro opaco*/
/*Nivelamos todas las paginas*/

$colorLaika: rgba(15, 34, 45, 1);
$verdeFondo: #ADBF34;
@import "estiloLaika";
@mixin tam ($width, $height) {
    width: $width;
    height: $height;
}
@mixin tamText ($text) {
    font-size: $text;
}
* {
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration:none;
}
.bodyContacto{
    background-color:$verdeFondo;
    }
/*-----------------------------------------------------*/
/*********Cabecera***************************************/
.cabecera-Logo {
    @include tam(6.5rem,6rem);
} 
li {
    display: inline-block;
    transition: all 2s;
}
#menu ul ul {
    display: none;
    position: absolute;
    top:120%;
    right: 10px;
    background: $colorLaika;
    color: white;
    padding: 5px;
    border-bottom: white solid 0.5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
#menu ul ul li {
    float: none;
    width: auto;
}
#menu ul ul a 
{
    line-height: 120%;
    padding: 15px 20px;
}
#menu ul li:hover > ul 
{
    display: block;
}
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*tranformaciones*/
a:hover
{
    color: #F2CB05;
}
.navbar-nav li:hover
{
    transform: scale(1.1, 1.1);
}

.animate__animated.animate__pulse
{
    animation-duration: 4s;
}
/*-----------------------------------------------------*/

/*********************Contenedor Opinion usuarios********************/
.contenedorOpinionUsuario
{
    width: 95%;
    background-color: #F2B705;
    color: #08080c;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    border-radius: 5%;
    border: 5px solid #F2CB05;
}
.contenedorOpinionUsuario__Foto
{
    width: 25vw;
    border-radius: 10%;
    margin: 5%;
}
.contenedorOpinionUsuario__Foto__Animacion:hover
{
    transform: scale(1.1, 1.1);
}
.contenedorOpinionUsuario__Parrafo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:transparent;
    color: black;
    height: 45vh;
    position: relative;
    h3
    {
        text-shadow: 1px 1px black;
    }
}
.contenedorOpinionUsuario__Foto__Animacion
{
    transition: all 3s;
    text-align: center;
}
.contenedorOpinionUsuario__Estrellas
{   
    @include tam(80px,80px);
    margin: 4px;
    position: absolute;
    bottom: 5%;
}
/*****************************************************************************/

/*dieseño articulo*/
.diseñoArticulo
{
    margin-bottom: 10px;
    border-radius: 1px;
    border:1px solid black;
}
#foto1
{
    grid-area: foto1;
}


/*-----------------------Publicados------------------------------*/
.contenedorPublicados
{
    background: #F7971E;  
background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  
background: linear-gradient(to left, #FFD200, #F7971E);
}
.contenedorPublicados__Filas
{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
}
.contenedorPublicados__Articulo
{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.contenedorPublicados__Articulo-Titulo
{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;

    h3
    {
        font-family: Mons;
        letter-spacing: 0.4ex;
        font-size: 2.5rem;
    }
}
.contenedorPublicados__Titulo
{
    color:$colorLaika;
    @include tamText(2.5rem);
    z-index: 1;
    margin-top: 20px;
}
.contenedorPublicados__Parrafo 
{
    width: 40vw;
    margin-bottom: 0.2rem;
}
.contenedorPublicados__Foto 
{
    width: 30vw;
    border-radius: 5%;
    height: 65vh;
    margin-left: 19%;
    transition: all 3s;
}
.contenedorPublicados__FotoLeft 
{
    width: 30vw;
    border-radius: 5%;
    height: 65vh;
    margin-top: 25px;
    transition: all 3s;
}
.animate__animated.animate__fadeInRight {
    --animate-duration: 2s;
}
.contenedorPublicados__Foto:hover
{
    transform: scale(1.1, 1.1);
}
.contenedorPublicados__FotoLeft:hover
{
    transform: scale(1.1, 1.1);
}
.contenedorPublicados__Texto
{
    justify-content: center;
    text-align: left;
    font-family: mons;
    font-size: 20px;
    margin-bottom: 2rem;
}
.contenedorPublicados__Texto__Left
{
    text-align: right;
    justify-content: center;
    font-family: mons;
    font-size: 20px;
    margin-bottom: 2rem;
}
.contenedorPublicadosBottom
{
    align-items: center;
    text-align: -webkit-center;
}
.publicadosBottom
{
    font-family:revertl;
    background-color: olivedrab;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    a {
        color: black;
        text-decoration: none;
    }
}
/*******************Seccion Que necesitas**************************/
.contenedorQueNecesitas
{
    text-align: -webkit-center;
    margin: 3rem;
    border: solid 2px black;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 95%;
}
.contenedorQueNecesitas__Titulo 
{
    color: #0b0c06;
    font-size: 35px;
    margin-bottom: 30px;
    /* margin-top: 0px; */
    text-decoration: underline;
}
.contenedorQueNecesitas__Populares
{
    margin-bottom: 15px;
}
.contenedorQueNecesitas__TituloPrincipal
{
    color: #0b0c06;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.tituloCard
{

    font-size: 1rem;
}

.busquedaGrilla
{
    height: 1100px;
}
.busquedaGrilla__botones
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card-boton
{
    display: block;
    color: black;
    background-color:$verdeFondo;
}
/****MAPA******/
.mapa {
    margin-bottom: 2em;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


/*******************Seccion nicial contactp**************************/
.contenedorPrincipal
{
    margin: 0;
}
.contenedorPrincipal__Foto
{
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    background-image: url("../imagenes/group-portrait-of-adorable-puppies.jpg");
    height: 100vh;
}
.contenedorPrincipal__Titulo
{
    color:$colorLaika;
    @include tamText(3rem);
    position: absolute;
    top: 30%;
    left: 110px;
    z-index: 1;
}
.contenedorInformativo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:transparent;
    color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-shadow: 2px 2px 10px #650;
} 
.contenedorInformativo__Titulo{
    color: #0b0c06;
    @include tamText(2.5rem);
    padding-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}
.contenedorInformativo__Parrafo {
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    font-weight: 600;
    font-family: 'Mali';
}
.contenedorInformativo__Foto
{
    width: 45vw;
    border-radius: 5%;
    margin: 5% 0 5% 0;
    height: 75vh;
}
#contenedorInformativo__Columnas
{
    display: grid;
    grid-template-areas: 
    "contenedorInformativo__Parrafo__Diseño foto1";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
#contenedorInformativo__Parrafo__Diseño{
    grid-area: contenedorInformativo__Parrafo__Diseño;
}


/****************************diseño del formulario Contacto-****************/
.contacto__ImagenPrincipal
{
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    background-image: url("../imagenes/cute-little-dog-impersonating-business-person.jpg");
    height: 100vh;
}
.contenedorContacto
{
    padding-top: 10px;
    background: #649173; 
    background: -webkit-linear-gradient(to top, #DBD5A4, #649173);
    background: linear-gradient(to top, #DBD5A4, #649173);
}
.contenedorContacto__Titulo {
    color: #0f222d;
    position: absolute;
    top: 30%;
    left: 300px;
    z-index: 1;
}
.contenedorContacto__Formulario
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.contenedorContacto__Formulario__Disenio
{
    margin-top: 15px;
    padding: 5%;
    fieldset
    {
        h3 
        {
            font-family: 'Mali', cursive;
        }
    }
}
.contenedorContacto__App
{
    div
    {
        h3
        {
            font-family: 'Mali', cursive;
        }
    }
}
.contenedorContacto__App__Foto
{
    width: 20vw;
    height: 73vh;;
}
.contenedorContacto__App
{
    margin-top: 3.5%;
}

/*-----------------------------------------------------*/
/* todos los titulos del footer de la pagina 
serán color blanco con el tipo de letra verdana con bordes color marron*/
.titulo_footer_color_verdana{
    color: #BE201F;
    font-family: Verdana;
}
.contenedorFooter{
    background: rgb(15,34,45);
}

.contenedorFooter__Linkedin
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    a 
    {
        margin-top: 1rem;
        color: #cccccc;
    }
}
.contenedorFooter__Redes-Linkedin
{
    @include tam(65px,35px);
    margin: 2px;
}
.contenedorFooter__Redes
{
    @include tam(60px,60px);
    margin: 2px;
    flex-flow: nowrap;
}
.contenedorFooter__Redes__Disenio
{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    padding-top: 20px;
    height: 120px;
    width: 300px;
}
.contenedorFooter__Redes__text
        {
            @include tamText(15px);
        }
.contenedorFooter__contenido
{
    justify-content: center;
    align-items: center;
}
.contenedorFooter__seccion
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: -webkit-center;
}
.contenedorFooter__logo
{
    width: 60%;
}
.contenedorFooter__imgLogo
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}
/*************************************************/

/*Etiquetas especiales*/
span
{
    color: blanchedalmond;
}
li a{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 0.5px black;
    margin-left: 1.5rem;
}

h2
{   
    font-family: 'Mali', cursive;
    @include tamText(16px);
}
h3
{
    color: white;
}
h1 
{
    font-family: 'Mali', cursive;
    font-weight: bold;
    @include tamText(3rem);
}
p
{
    font-family: 'Signika Negative', sans-serif;
}

/******* Carousel y ANTES DE ADOPTAR******/
.carousel_Titulo
{
    @include tamText(55px);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    opacity: 80%;
    text-shadow: 2px 2px 40px black;
}
.carousel_Subtitulo
{
    @include tamText(30px);
    color: white;
    font-family: 'Signika Negative', sans-serif;
    text-shadow:-20px 11px 40px black;
}
.contenedorPostulate__Titulo
{
    @include tamText(3.5rem);
    z-index: 1;
    padding-top: 100px;
    padding-left: 404px;
    text-shadow: 2px 1px moccasin;
    color: $colorLaika;
}
.adoptar__ImagenPrincipal
{
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    background-image: url("../imagenes/adoptar.jpg");
    height: 100vh;
}
.contenedorIntro
{
        font-size: 1.5rem;
        text-align: start;
        padding: 1em 4em;
        margin-top: 1em;
        color: black;
        font-family: 'Fredoka One', cursive;
        text-shadow: -20px 11px 40px #e9ecef;
}
.contenedorFormularioAdoptar
{
    border: solid 5px yellowgreen;
    border-radius: 20px;
    margin: 0 auto;
    width: 76%;
    color: #F2B705;
    background-color: $colorLaika;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.contenedorFormularioAdoptar__Fila
{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.botones
{   
    background-color: #D88900;
    border: solid 1px gold;
    padding-top: 0.30rem;
    padding-right: 0.5rem;
    padding-bottom: 0.30rem;
    padding-left: 0.5rem;
    display: block;
    margin: 0 auto;
    font-size: 1.1rem;
    color: white;
}

.botones__Postularse
{
    font-family: cursive;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.botones__Eliminar
{
    font-family: cursive;
    width: 40%;
    margin-top: 43px;
}
.contenedorFormularioAdoptar__Fila__Valor
{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    
    label 
    {
        text-align: start;
    }

    div
    {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        margin-top: 0.5rem;
    }
}
.contenedorFormularioAdoptar__Basicas
{
    margin-bottom: 7px;
}
.contenedorFormularioAdoptar__Basicas__Titulo
{
    font-family:'Mali';
    margin-bottom: 16px;
    @include tamText(2.5rem);
}
.contenedorFormularioAdoptar__Datos__Titulo
{
    font-family:'Mali';
    margin-bottom: 16px;
    @include tamText(2rem);
    text-decoration: underline;
}
/* Posible paleta de colores*/
.ab{ color: verdeFondo; }
.ac{ color: #9CA539; }
.ad{ color: #D88946; }
.ae { color:#BE201F; }
.af{ color: #F4F5F2; }
/*Posible paleta de colores*/
.a{ color: #BF8FB7; }
.b{ color: #F0F0F2; }
.c{ color: #F2CB05; }
.d{ color: #F2D95C; }
.e{ color: #F2B705; }




/*Adaptar para tablet*/

@media (max-width: 992px)
{
    .cabecera-Logo
    {
        @include tam(6rem,5.3rem);
    }
    .navbar-nav {
        align-items:flex-start !important;
    }
    .navbar-collapse 
    {
        background: $colorLaika;
        height: 250px;
    }
}
/*Adaptar para celu*/
@media (max-width: 418px)
{   
    /*Que necesitas*/
    .card__contenedor
    {
        width: 75vw;
        margin-bottom: 1rem;
    }
    .contenedorQueNecesitas__Titulo 
    {
        font-size: 2rem;
    }
    .contenedorQueNecesitas 
    {
        margin: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 95vw;
    }
    .contenedorQueNecesitas__TituloPrincipal 
    {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .btn-lg, .btn-group-lg > .btn 
    {
        padding: 0.2rem 0.1rem;
        font-size: 0.9em;
        border-radius: 1.5rem;
    }
    .busquedaGrilla__botones 
    {
        margin-bottom: 1em;
        margin-top: 1em;
    }
    /*Publicados*/
    .contenedorPublicados__Articulo 
    {
        padding-bottom: 5px;
        padding-top: 5px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 90%;
    }
    .contenedorPublicados__Filas {
        margin-top: 1.2rem;
        margin-bottom: 1rem;
    }
    .contenedorPublicados__Articulo-Titulo {
        text-align: center;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .contenedorPublicados__Articulo-Titulo
    {
        h3
        {
            font-size: 1.8rem;
        }
    }
    .contenedorPublicados__Parrafo {
        width: 85vw;
        margin-bottom: 0.2rem;
    }
    .contenedorPublicados__Foto {
        width: 75vw;
        border-radius: 5%;
        height: 51vh;
        margin-left:0px;
        transition: all 3s;
    }
    .contenedorPublicados__FotoLeft
    {
        width: 75vw;
        border-radius: 5%;
        height: 51vh;
        margin-left:0px;
        transition: all 3s;
    }
    .publicadosBottom 
    {
        margin-bottom: 1.3rem;
    }
    .contenedorFooter__logo
        {
            width: 72%;
        }
    .cabecera-Logo
    {
        @include tam(65px, 60px);
        margin-left: 0%;
    }
    .navbar
    {
    font-size: 0.8rem;
    }
    .navbar-nav 
    {
        align-items:flex-start !important;
    }    
    .navbar-collapse 
    {
        background: $colorLaika;
        height: 29vh;
        width: 55vw;
    }
    .contenedorPrincipal__Ancla
    {
        font-size: 7px;
    }
    .contenedorPrincipal__Titulo 
    {
        @include tamText(1.5rem);
        top: 9rem;
        left: 1rem;
    }
    .contenedorInformativo
    {
        padding-bottom: 5px;
        padding-top: 5px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 90%;
    }
    .contenedorInformativo__Parrafo
    {
        width: 90%;
        padding: 20px 0px;
        line-height: 25px;
        @include tamText(15px);
        margin: 0px 15px;
        text-align: center;
    }
    .contenedorInformativo__Foto
    {
        width: 60vw;
        border-radius: 4%;
        margin: 4%;
        height: 36vh;
    }
    .contenedorInformativo__Titulo
    {
        @include tamText(20px);
        padding-top: 10px;
    }

    /***Opinion usuario*/
    .contenedorOpinionUsuario__Foto
    {
        width: 90%;
        border-radius: 10%;
        margin: 5%;
    }
    .contenedorOpinionUsuario__Estrellas
    {   
        bottom: 3%;
    }
    .contenedorOpinionUsuario__Parrafo 
    {
        height: 50vh;
    }
    /**************Contacto**************/
    .contenedorContacto__Titulo 
    {
        font-size: 2.5rem;
        left: 50px;
    }
    #Contacto
    {
        justify-content: center;
    }
    .contenedorContacto 
    {
        width: 100%;
    }
    .contenedorContacto__Formulario__Disenio 
    {
        margin-top: 0;
        padding: 0;
    }
    .contenedorContacto__App__Foto 
    {
        width: 44vw;
        height: 45vh;
    }
    /*************Footer*************/
        .contenedorFooter__Redes__Disenio
        {
            margin: 1%;
        }
        .contenedorFooter__Redes__text
        {
            @include tamText(15px);
        }
        .contenedorFooter__Redes 
        {
            width: 60px;
            height: 50px;
        }
        .contenedorFooter__Redes-Linkedin {
            width: 30%;
            margin-right: 5px;
        }
        /*Antes de Adoptar*/
        .contenedorPostulate__Titulo 
        {
            font-size: 3.5rem;
            padding-top: 174px;
            padding-left: 0px;
            text-shadow: 77px 11px 40px #e9ecef;
        }
        .adoptar__ImagenPrincipal 
        {
            filter: brightness(0.8);
            opacity: 1;
        }
        .contenedorIntro 
        {
            font-size: 1.1rem;
            padding: 1em 2.5em;
        }
        .contenedorFormularioAdoptar 
        {
            border-radius: 10px;
            width: 85%;
            font-size: 0.9rem;
        }
        .contenedorFormularioAdoptar__Basicas__Titulo 
        {
            font-size: 1.5rem;
        }
        .botones 
        {
            padding-top: 0.30rem;
            padding-bottom: 0.30rem;
            font-size: 0.7rem;
            padding-left: 0;
            padding-right: 0;
        }
        .botones__Eliminar {
            font-family: cursive;
            width: 48%;
            margin-top: 43px;
        }
        .contenedorFormularioAdoptar__Fila__Valor
        {
            label
            {
                text-align: -webkit-left;
            }
        }
        .botones__Eliminar 
        {
            margin-top: 20px;
        }
}
@media (min-width: 419px) and (max-width: 767px)
{
    /*Que necesitas*/
    .card__contenedor
    {
        width: 75vw;
        margin-bottom: 1rem;
    }
    .contenedorQueNecesitas__Titulo 
    {
        font-size: 2rem;
    }
    .contenedorQueNecesitas 
    {
        margin: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 95vw;
    }
    .contenedorQueNecesitas__TituloPrincipal 
    {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .btn-lg, .btn-group-lg > .btn 
    {
        padding: 0.2rem 0.1rem;
        font-size: 0.9em;
        border-radius: 1.5rem;
    }
    .busquedaGrilla__botones 
    {
        margin-bottom: 1.2em;
        margin-top: 1.2em;
    }
    /**Contacto*******/
    .contenedorContacto__Titulo 
    {
        font-size: 1rem;
        top: 20%;
        left: 50px;
    }
    .contenedorContacto__App__Foto 
    {
        width: 38vw;
        height: 54vh;
    }
        /**Footer*******/
    .contenedorFooter__logo
    {
        width: 80%;
    }
    .contenedorFooter__Redes-Linkedin 
    {
        width: 80px;
        margin-top: 20px;
    }
    .contenedorFooter__Redes 
    {
        width: 70px;
    }
    /**Publicados*******/
.contenedorPublicados__Articulo 
    {
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 90%;
    }
    .contenedorPublicados__Texto 
    {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    .contenedorPublicados__Parrafo 
    {
        width: 90vw;
    }
    .contenedorPublicados__Foto 
    {
        width: 75vw;
        height: 65vh;
        margin-left:0;
    }
    .contenedorPublicados__Filas 
    {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .contenedorPublicados__Texto__Left 
    {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    .contenedorPublicados__FotoLeft 
    {
        width: 75vw;
    }
    .publicadosBottom 
    {
        margin-bottom: 1.5rem;
    }
    .navbar-nav 
    {
        align-items:flex-start !important;
    }
    .contenedorPrincipal__Titulo 
    {
        @include tamText(1.5rem);
        top: 19%;
        left: 10px;
    }
    .contenedorOpinionUsuario__Foto
    {
        width: 90%;
        border-radius: 10%;
        margin: 5%;
    }
    .formatoNav_lista
    {
        list-style: none;
        list-style-position: initial;
        list-style-type: none;
        font-family: sans-serif;
        text-decoration: none;
    }
    li {
        display: inline-block;
    }
    #menu ul ul {
        display: none;
        position: absolute;
        top:100%;
        right: 10px;
        background: #be201f;
        padding: 0;
    }
    #menu ul ul li {
        float: none;
        width: auto;
    }
    #menu ul ul a 
    {
        line-height: 120%;
        padding: 15px 20px;
    }
    #menu ul li:hover > ul 
    {
        display: block;
    }
    
    li a{
        text-decoration: none;
        color: white;
        -webkit-text-stroke: 0.5px black;
        margin-left: 1.5rem;
    }
    .contenedorInformativo 
    {
        padding-bottom: 5px;
        padding-top: 5px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 90%;
    }
    .contenedorInformativo__Foto 
    {
        width: 70vw;
        height: 49vh;
    }
    .contenedorInformativo__Parrafo 
    {
        width: 80vw;
        padding-left:0;
    }
    .contenedorOpinionUsuario
    {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2B705;
    color: #08080c;
    margin-left: 7%;
    margin-right: 10%;
    margin-bottom: 10px;
    }
    #linkedin a
    {
        display: none;
    }
    #legales
    {
        display: none;
    }
    .navbar-collapse 
    {
        background: $colorLaika;
        height: 230px;
    }
    /*Antes de Adoptar*/
    .contenedorPostulate__Titulo 
    {
        font-size: 3.5rem;
        padding-top: 257px;
        padding-left: 0px;
        text-shadow: 77px 11px 40px #e9ecef;
        color: black;
    }
    .adoptar__ImagenPrincipal 
    {
        filter: brightness(0.8);
        opacity: 1;
    }
    .contenedorIntro 
    {
        font-size: 1.3rem;
        padding: 1em 2em;
    }
    
}
@media (min-width: 768px) and (max-width: 1023px)
{
    /*Antes de Adoptar*/
    .contenedorQueNecesitas 
    {
        margin: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 95%;
    }
    .card__contenedor
    {
        margin-bottom: 1rem;
    }
    .contenedorPostulate__Titulo 
    {
        font-size: 3.5rem;
        z-index: 1;
        padding-top: 413px;
        padding-left: 11px;
    }
    .contenedorFormularioAdoptar
    {
        width: 85%;
    }
    .botones__Eliminar {
        width: 72%;
        margin-top: 48px;
    }
    /**Contacto*******/
    .contenedorContacto__Titulo 
    {
        font-size: 1rem;
        top: 20%;
        left: 50px;
    }
    .contenedorContacto__Titulo 
    {
        font-size: 3rem;
        top: 40%;
        left: 407px;
    }
    .contenedorContacto__App__Foto 
    {
        width: 18vw;
        height: 50vh;
    }
    .contenedorContacto__App
    {
        margin-top: 0.5%;
    }
        /**Footer*******/
    .contenedorFooter__logo
    {
        width: 80%;
    }
    .contenedorFooter__Redes-Linkedin 
    {
        width: 80px;
        margin-top: 20px;
    }
    .contenedorFooter__Redes 
    {
        width: 70px;
    }
    /**Publicados*******/
    .contenedorPublicados__Articulo 
    {
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 90%;
    }
    .contenedorPublicados__Parrafo 
    {
        width: 80vw;
    }
    .contenedorPublicados__Texto 
    {
        font-size: 1.4rem;
    }
    .contenedorPublicados__Foto 
    {
        width: 70vw;
        margin-left:0;
        height: 75vh
    }
    .publicadosBottom 
    {
        font-size: 1.5rem;
        margin-bottom: 2rem
    }
    .contenedorPublicados__FotoLeft 
    {
        width: 70vw;
        height: 75vh;
    }
    .contenedorPublicados__Texto__Left 
    {
        font-size: 1.4rem;
    }
    .navbar-nav 
    {
        align-items:flex-start !important;
    }
    .contenedorPrincipal__Titulo 
    {
        @include tamText(1.7rem);
        top: 21%;
        left: 14px;
    }
    .contenedorPrincipal__Ancla 
    {
    font-size: 0.7rem;
    top: 85px;
    left: 1px;
    }
    .contenedorOpinionUsuario__Foto
    {
        width: 80%;
        border-radius: 10%;
        margin: 5%;
    }
    .contenedorOpinionUsuario__Estrellas
    {
        bottom: -7%;
    }
    .formatoNav_lista
    {
        list-style: none;
        list-style-position: initial;
        list-style-type: none;
        font-family: sans-serif;
        text-decoration: none;
    }
    li {
        display: inline-block;
    }
    #menu ul ul {
        display: none;
        position: absolute;
        top:100%;
        right: 10px;
        background: #be201f;
        padding: 0;
    }
    #menu ul ul li {
        float: none;
        width: auto;
    }
    #menu ul ul a 
    {
        line-height: 120%;
        padding: 15px 20px;
    }
    #menu ul li:hover > ul 
    {
        display: block;
    }
    
    li a{
        text-decoration: none;
        color: white;
        -webkit-text-stroke: 0.5px black;
        margin-left: 1.5rem;
    }
    .contenedorInformativo 
    {
        padding-bottom: 5px;
        padding-top: 5px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 90%;
    }
    .contenedorInformativo__Foto 
    {
        width: 80vw;
        height: 60vh;
    }
    .contenedorInformativo__Parrafo 
    {
        width: 80vw;
        padding-left:0;
        text-align: center;
    }
    .contenedorOpinionUsuario
    {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2B705;
    color: #08080c;
    margin-left: 7%;
    margin-right: 10%;
    margin-bottom: 10px;
    }
    .contenedorOpnionUsuario__contenido {
        justify-content: center;
        align-items: center;
    }
    .contenedorOpinionUsuario__Parrafo 
    {
        height: 30vh;
    }
    #linkedin a
    {
        display: none;
    }
    #legales
    {
        display: none;
    }
    .navbar-collapse {
        background:$colorLaika;
        height: 40vh;
        width: 24vw;
    }
}
@media (min-width: 1024px) and (max-width: 1255px)
{
    /*Que necesitas*/
    .contenedorQueNecesitas 
    {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .card__contenedor
    {
        margin-bottom: 1rem;
    }
    /****Publicados*****/
    .contenedorPublicados__Titulo
    {
        h1
        {
            font-size: 3.5rem;
        }
    }
    .contenedorPublicados__Texto 
    {
        font-size: 1.4rem;
    }
    .contenedorPublicados__Articulo-Titulo
    {
        h3
        {
            font-size: 3rem;
        }
    }
    .contenedorPublicados__Foto 
    {
        width: 45vw;
        height: 65vh;
        margin-left: 0;
    }
    .publicadosBottom 
    {
        font-size: 1.7rem;
        margin-bottom: 2.5rem;
    }
    .contenedorPublicados__Filas 
    {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
    .contenedorPublicados__Texto__Left 
    {
        font-size: 1.4rem;
    }
    .contenedorPublicados__FotoLeft 
    {
        width: 45vw;
        height: 65vh;
    }
    /**Antes de Adoptar*******/
    .contenedorFormularioAdoptar
    {
        width: 80%;
    }
    .botones__Eliminar 
    {   
        width: 72%;
        margin-top: 45px;
    }
    /**footer*******/
    .cabecera-Logo {
        width: 5rem;
        height: 5rem;
    }
    .navbar
    {
    font-size: 15px;
    }
    .contenedorPrincipal__Titulo 
    {
        font-size: 2rem;
        top: 150px;
        left: 90px;
    }
    .contenedorOpinionUsuario__Estrellas
    {
        bottom: -5%;
    }
    /****Contacto*******/
    .contenedorContacto__Titulo 
    {
        top: 30%;
        left: 392px;
    }
    .contenedorContacto__App__Foto 
    {
        width: 19vw;
        height: 76vh;
    }
    .contenedorContacto__App
    {
        margin-top: 4%;
    }
}

$redesSociales: (
    facebook: "../imagenes/facebook.png",
    twitter: "../imagenes/twitter.png",
    instagram: "../imagenes/instagram.png",
    linkedin: "../imagenes/linkedin.png"
);
@each $red, $ruta in $redesSociales {
    .#{$red}Logo {
        content:url($ruta);
    }
}